html{
  background-image: url(http://unsplash.it/1500/1000?image=881&blue=50);
  background-size: cover;
  font-family: 'helvetica neue';
  text-align: center;
  font-size: 10px;

}
body{
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
}
.clock{
  width: 30rem;
  height: 30rem;
  border:20px solid #fff;
  border-radius: 50%;
  margin: 10% auto;
  position: relative;
  padding: 2rem;
  box-shadow: 0 0 0px 4px rgba(0,0,0,0.1),
              inset 0 0 0 3px #EFEFEF,
              inset 0 0 10px black,
              0 0 10px rgba(0,0,0,0.2);
}
.clock span{
  position: absolute;
}
.clock span:first-of-type{
  top: 11px;
  left: 162px;
  }
.clock span:nth-of-type(2){
  top: 23px;
  left: 229px;
}
.clock span:nth-of-type(3){
  top: 78px;
  left: 281px;
}
.clock span:nth-of-type(4){
  top: 157px;
  left: 308px;
}
.clock span:nth-of-type(5){
  top: 242px;
    left: 291px;
}
.clock span:nth-of-type(6){
  top: 292px;
left: 243px;
}
.clock span:nth-of-type(7){
  top: 317px;
  left: 162px;
}
.clock span:nth-of-type(8){
  top: 292px;
  left: 88px;
}
.clock span:nth-of-type(9){
  top: 242px;
left:43px;
}
.clock span:nth-of-type(10){
  top: 157px;
left: 20px;
}
.clock span:nth-of-type(11){
  top: 78px;
left: 30px;
}
.clock span:nth-of-type(12){
  top: 23px;
  left: 90px;
}
.clock-face{
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
}
.hand{
  color:#fff;
  width: 40%;
  left:25px;
  position: absolute;
  background-color: #000;
  height: 6px;
  top: 50%;
  transform-origin: 100%;
  transform:rotate(90deg);
  transition: all .05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
